* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  max-width: 100%;
}

.wrapper {
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
}

.header {
  max-width: 1366px;
  height: 80px;
  background: linear-gradient(269.82deg, #912d2d 0%, #782525 100%);
}
.header .wrapper {
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .wrapper .header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.header .wrapper .header_inner .header_inner__logo {
  display: flex;
}
.header .wrapper .header_inner .header_inner__logo p {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  margin-left: 8px;
}
.header .wrapper .header_inner .header_inner__nav {
  margin-left: 164px;
  display: flex;
}
.header .wrapper .header_inner .header_inner__nav ul {
  display: flex;
}
.header .wrapper .header_inner .header_inner__nav ul li {
  list-style-type: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  margin-right: 43px;
}
.header .wrapper .header_inner .header_inner__nav ul li img {
  margin-left: 10px;
}
.header .wrapper .header_inner .header_inner__nav li:first-child {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}
.header .wrapper .header_inner .header_inner__symbol {
  display: flex;
}
.header .wrapper .header_inner .header_inner__symbol .burger {
  width: 80px;
  height: 80px;
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(225deg, #4f0e0e 0%, #360909 100%);
}
.header .wrapper .header_inner .header_inner__symbol .burger .line {
  margin: 0 auto;
  width: 24px;
  height: 1px;
  background-color: #fff;
}
.header .wrapper .header_inner .header_inner__symbol .search {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(225deg, #7a1414 0%, #621010 100%);
}

.pre-intro {
  max-width: 1366px;
  height: 170px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 153.5px;
  color: #000000;
  opacity: 0.03;
  margin-left: 25px;
  position: relative;
}
.pre-intro .question {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #181313 !important;
  top: 10px;
  left: 0;
  border-radius: 50%;
}

.hero .wrapper {
  display: flex;
  justify-content: start;
  margin: 0 auto;
}
.hero .wrapper .hero_descr .facultet {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  color: #000000;
}
.hero .wrapper .hero_descr h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 110px;
  color: #000000;
  width: 737px;
}
.hero .wrapper .hero_descr h1 .test {
  font-weight: 600;
  font-size: 110px;
  width: 480px;
  color: #000000;
  border-bottom: #000000 5px solid;
  margin-bottom: 39px;
}
.hero .wrapper .hero_descr .facultet_descr {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 148%;
  color: #000000;
  width: 535px;
  height: 90px;
  margin-bottom: 71px;
}
.hero .wrapper .hero_img {
  width: 564.52px;
  height: 540.58px;
  margin-right: -67px;
}
.hero .wrapper .button1 {
  width: 217px;
  height: 60px;
  background: linear-gradient(269.82deg, #911f1f 0%, #781919 100%);
  box-shadow: 0px 16px 32px -8px rgba(120, 37, 37, 0.3), inset -8px -8px 16px #741c1c, inset 8px 8px 16px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  margin-right: 24px;
}
.hero .wrapper .button1:hover {
  background: #c92f2f;
  cursor: pointer;
}
.hero .wrapper .button2 {
  width: 217px;
  height: 60px;
  background: #d5bcbc;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 22px;
}
.hero .wrapper .button2:hover {
  background: #eecbcb;
  cursor: pointer;
}

.section_first {
  display: flex;
  margin-top: 190px;
}
.section_first .section_first__1 {
  width: 843px;
  height: 833px;
  background: #792525;
}
.section_first .section_first__1 .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.section_first .section_first__1 .wrapper img {
  margin-top: 113px;
  margin-bottom: 86px;
}
.section_first .section_first__1 .wrapper h3 {
  font-weight: 700;
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 32px;
}
.section_first .section_first__1 .wrapper p {
  font-weight: 400;
  font-size: 20px;
  line-height: 146.5%;
  color: #ffffff;
  margin-bottom: 74px;
}
.section_first .section_first__1 .wrapper button {
  width: 280px;
  height: 60px;
  border: #fff 1px solid;
  background-color: #792525;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
}
.section_first .section_first__1 .wrapper button:hover {
  background-color: #911f1f;
  cursor: pointer;
}
.section_first .section_first__2 {
  height: 833px;
}
.section_first .section_first__2 img {
  width: 597px;
  height: 833px;
}

.section_second {
  display: flex;
}
.section_second .section_second__1 {
  padding-top: 173px;
  width: 741px;
  height: 769px;
  background: #f2c2c2;
}
.section_second .section_second__1 .wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.section_second .section_second__1 .wrapper h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 32px;
  color: #000000;
}
.section_second .section_second__1 .wrapper p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 146.5%;
  color: #000000;
  margin-bottom: 77px;
}
.section_second .section_second__1 .wrapper button {
  width: 284px;
  height: 60px;
  border: black 1px solid;
  background: #f2c2c2;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #000000;
}
.section_second .section_second__1 .wrapper button:hover {
  background-color: #d18d8d;
  cursor: pointer;
  color: white;
}
.section_second .section_second__2 {
  width: 699px;
  height: 769px;
  padding-top: 76px;
  background-color: #f2c2c2;
}
.section_second .section_second__2 .img1 {
  width: 699px;
  height: 277px;
}
.section_second .section_second__2 .img2 {
  display: flex;
}
.section_second .section_second__2 .img3 {
  display: flex;
}

.section_third {
  padding-top: 127px;
  display: flex;
  margin-bottom: 192px;
}
.section_third .section_third_1 {
  height: 546px;
}
.section_third .section_third_1 .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.section_third .section_third_1 .wrapper .line {
  margin-top: 32px;
  width: 107px;
  height: 9px;
  background-color: #000000;
}
.section_third .section_third_1 .wrapper h2 {
  font-weight: 700;
  font-size: 60px;
  color: #000000;
  margin-bottom: 32px;
}
.section_third .section_third_1 .wrapper p {
  width: 489px;
  font-weight: 400;
  font-size: 20px;
  line-height: 146.5%;
  color: #000000;
  margin-bottom: 50px;
}
.section_third .section_third_1 .wrapper button {
  width: 435px;
  height: 60px;
  font-weight: 700;
  font-size: 22px;
  color: #000000;
  background-color: wheat;
  border: #000000 1px solid;
  border-radius: 5px;
}
.section_third .section_third_1 .wrapper button:hover {
  background-color: #d18d8d;
  cursor: pointer;
  color: white;
}
.section_third .section_third_2 {
  display: flex;
  position: relative;
  width: 728px;
  height: 514px;
  background: #ebc5c5;
}
.section_third .section_third_2 img {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 728px;
  height: 514px;
}

footer {
  width: 1440px;
  height: 436px;
  background: #902c2c;
  padding-top: 104px;
}
footer .wrapper {
  display: block;
}
footer .wrapper .footer_columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}
footer .wrapper .footer_columns .footer_columns__1 {
  display: flex;
}
footer .wrapper .footer_columns .footer_columns__1 .facult {
  font-weight: 700;
  font-size: 28px;
  color: #ffffff;
}
footer .wrapper .footer_columns .footer_columns__1 p {
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
footer .wrapper .footer_columns .footer_columns__1 img {
  margin-right: 13px;
  width: 70px;
  height: 50px;
}
footer .wrapper .footer_columns .facult_name {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 24px;
}
footer .wrapper .footer_columns ul li {
  list-style-type: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}
footer .wrapper .footer_columns ul li:hover {
  color: #7a7070;
  cursor: pointer;
}
footer .wrapper .footerEnd {
  display: flex;
  justify-content: space-between;
}
footer .wrapper .footerEnd p {
  font-weight: 400;
  font-size: 18px;
  color: #f2f2f2;
}/*# sourceMappingURL=style.css.map */